.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.m-bot {
  margin-bottom: 15px;
}

.navbar,
.navbar-default {
  background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%) !important;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default{
  color: white;
  border-color: white;
  border-radius: 10px;
}